#back {
    background-image: url(images/earth.jpg);
    background-size: cover;
}

#map {
    position: fixed;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    height: 1000px;
    width: 1000px;
}

h2 {
    margin-bottom: 0;
    margin-top: 0;
}
h1{
    color: darkslateblue;   
}
#resultList
{
    font-size: 14px;   
}